.mtl-map-controls,
.transport-mode-select {
	accent-color: var(--secondary-color);
}

#mtl-box,
#mtl-map-box {
	position:relative;
}

:root.light-theme .mtl-map-controls #mtl-opacity-low-darker {
	display: none;
}

:root.dark-theme .mtl-map-controls #mtl-opacity-low-brighter {
	display: none;
}